.App {
  text-align: center;
}

.fixedclear::after {
  content: '';
  display: block;
  clear: both;  
}



h1 {
  font-family: Noto Sans KR Black;
}

.num {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", 돋움, Dotum, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  letter-spacing: -0.05em;
  text-size-adjust: none;
  line-height: 1em;
  /* border-color: #ff8e4f !important; */
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: #fff;
  border: 3px solid #c7c7c7;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: 2px;
  padding: 3px;
  width: 42px;
  height: 42px; 
}

.numSpan {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", 돋움, Dotum, sans-serif;
  letter-spacing: -0.05em;
  text-size-adjust: none;
  text-align: center;
  /* border-color: #ff8e4f !important; */
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #333;
  font-weight: bold;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 27px;
  font-size: 20px;
}

.whiteTxt {
  letter-spacing: -0.05em;
  text-size-adjust: none;
  text-align: center;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", 돋움, Dotum, sans-serif;
  color: #fff;
  line-height: 1em;
  font-weight: normal;
}

.tblTxt {
  font-size: 20px;
  letter-spacing: -0.05em;
  text-size-adjust: none;
  text-align: center;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", 돋움, Dotum, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1em;
  font-weight: normal;
}

.player {
  margin-top: auto;
  background-color: #e7e7e7c5;
  align-content: center;
  padding: 5px;
}

.mainContent {
  min-height: calc(100vh - 180px);
}


.cursorPointer{
  cursor: pointer;
}

/* //////////////////////////////////////////////////////////// */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}